auto-install-peers = true
link-workspace-packages = true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
registry=https://npm.pkg.github.com/
@doinstruct:registry=https://npm.pkg.github.com
@ai-sdk:registry=https://npm.pkg.github.com/